form {
    width: 85%;
    max-width: 36em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }
  
  img {
    height: 35%;
    width: 30%;
    min-height: 100px;
    min-width: 150px;
  }
  
  
  div {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    align-content: center;
  }

  .buttons {
    display: inline-block;
    padding: 10 px;
  }
  
  
  @media only screen and (max-width: 875px) {
      .text {
        padding-top: 40vh;
      }
      .text h2 {
        font-size: 3rem;
      }
    }